@(control: Boolean)
@main("presentation") {

    <div class="reveal">

  			<!-- Any section element inside of this container is displayed as a slide -->
  			<div class="slides">
  				<section>
  					<h1>Fuzzy search</h1>
  				</section>

                <section>
                    <h1>Levenshtein distance</h1>
                    <p>(deletions, additions, replacements)</p>
                </section>

                <section>
                    <p>
                        <img src="@routes.Assets.at("images/0.png")"/>
                    </p>
  				</section>

                <section>
                    <p>
                        Levenshtein<br>
                        <img src="@routes.Assets.at("images/1.png")"/>
                    </p>
                    <p>
                        Damerau–Levenshtein<br>(transpositions)<br>
                        <img src="@routes.Assets.at("images/2.png")"/>
                    </p>
  				</section>

                <section>
                    <pre><code class="java">public int getLevenshteinDistance(String str1, String str2)
{
    int len1 = str1.length();
    int len2 = str2.length();
    int[][] arr = new int[len1 + 1][len2 + 1];
    for (int i = 0; i <= len1; i++)
        arr[i][0] = i;
    for (int i = 1; i <= len2; i++)
        arr[0][i] = i;
    for (int i = 1; i <= len1; i++)
    {
        for (int j = 1; j <= len2; j++)
        {
            int m = (str1.charAt(i - 1) == str2.charAt(j - 1)) ? 0:1;
            arr[i][j] = Math.min(Math.min(arr[i - 1][j] + 1, arr[i][j - 1] + 1),
                                 arr[i - 1][j - 1] + m);
        }
    }
    return arr[len1][len2];
}</code></pre>
                </section>
  			</div>

  		</div>

    <script>
        // Full list of configuration options available at:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: false,
            keyboard: @(if(control) "true" else "false"),
            progress: true,
            history: true,
            center: true,

            transition: 'slide' // none/fade/slide/convex/concave/zoom
        });

        connect("socket", function(msg) {
            @if(!control) {
                switch (msg.data) {
                    case "left!":
                        Reveal.left();
                        break;
                    case "right!":
                        Reveal.right();
                    break;
                }
            }
        });
        @if(control) {
            document.addEventListener ( 'keydown', function(event) {
            switch( event.keyCode ) {
                case 37:
                    sendMessage("left");
                    break;
                case 39:
                    sendMessage("right");
                    break;
            }
            }, false ) ;
        }
    </script>
}
