@(control: Boolean)
@main("presentation", control) {

    <div class="reveal">

  			<!-- Any section element inside of this container is displayed as a slide -->
  			<div class="slides">
  				<section>
  					<h1>Fuzzy search</h1>
  				</section>

                <section>
                    <h2>Approaches:</h2>
                    <ol>
                        <li>without precalculation</li>
                        <li>with precalculation</li>
                    </ol>
                </section>

                <section>
                    <h1>Levenshtein distance</h1>
                    <p>(deletions, additions, replacements)</p>
                </section>

                <section>
                    <p>
                        <img src="@routes.Assets.at("images/0.png")"/>
                    </p>
  				</section>

                <section>
                    <p>
                        Levenshtein<br>
                        <img src="@routes.Assets.at("images/1.png")"/>
                    </p>
                    <p>
                        Damerau–Levenshtein<br>(transpositions)<br>
                        <img src="@routes.Assets.at("images/2.png")"/>
                    </p>
  				</section>

                <section>
                    <pre><code class="java">public int getLevenshteinDistance(String str1, String str2)
{
    int len1 = str1.length();
    int len2 = str2.length();
    int[][] arr = new int[len1 + 1][len2 + 1];
    for (int i = 0; i <= len1; i++)
        arr[i][0] = i;
    for (int i = 1; i <= len2; i++)
        arr[0][i] = i;
    for (int i = 1; i <= len1; i++)
    {
        for (int j = 1; j <= len2; j++)
        {
            int m = (str1.charAt(i - 1) == str2.charAt(j - 1)) ? 0:1;
            arr[i][j] = Math.min(Math.min(arr[i - 1][j] + 1, arr[i][j - 1] + 1),
                                 arr[i - 1][j - 1] + m);
        }
    }
    return arr[len1][len2];
}</code></pre>
                </section>

                <section>
                    <h1>Precalculations</h1>
                </section>

                <section>
                    <h1>Typo dictionary</h1>
                </section>

                <section>
                    <img src="@routes.Assets.at("images/3.png")"/>
                </section>

                <section>
                    <h1>Signature hashing</h1>
                </section>

                <section>
                    <img src="@routes.Assets.at("images/4.png")"/>
                </section>

                <section>
                    <h1>N-grams</h1>
                </section>

                <section>
                    <h3>3-grams</h3>
                    <img src="@routes.Assets.at("images/5.png")"/>
                </section>

                <section>
                    <h1>in kiwi:</h1>
                </section>

                <section>
                    For each menu node caption:
                    <ol>
                        <li>single letters</li>
                        <li>two sequential letters</li>
                        <li>first and last of three sequential letters</li>
                    </ol><br>
                    <p>and length</p>
                </section>

                <section>
                    <h3>Example:</h3>
                    <pre>
                        "cat"
                         ca   - two sequential letters
                          at
                         c t  - first and last of three sequential letters
                         c    - single letters
                          a
                           t
                    </pre>
                </section>

                <section>
                    <p>thank you</p>
                </section>
  			</div>

  		</div>

    <script>
        // Full list of configuration options available at:
        // https://github.com/hakimel/reveal.js#configuration
        var enableKeyboard = @(if(control) "true" else "false");
        Reveal.initialize({
            controls: false,
            keyboard: enableKeyboard,
            progress: true,
            history: true,
            center: true,
            width: 960,
            height: 700,
            minScale: 1,
            maxScale: 1,

            transition: 'slide' // none/fade/slide/convex/concave/zoom
        });

        var markDiv;
        var setMark = function(x1, y1, x2, y2) {
          if (!markDiv) {
            markDiv = document.createElement("div");
            document.body.appendChild(markDiv);
            markDiv.style.position = "absolute";
            markDiv.style.zIndex = 100;
          }
          markDiv.style.border = "#f55f5f solid 2px";
          markDiv.style.left = x1 + "px";
          markDiv.style.top = y1 + "px";
          markDiv.style.width = (x2 - x1) + "px";
          markDiv.style.height = (y2 - y1) + "px";
        };
        var clearMark = function() {
          markDiv.style.border = "transparent";
        };

        @if(control) {
            document.addEventListener ('keydown', function(event) {
                switch(event.keyCode) {
                    case 37:
                        sendMessage({ dir: "left" });
                        break;
                    case 39:
                        sendMessage({ dir: "right" });
                        break;
                }
            }, false);

            var x, y, isMouseDown;
            document.addEventListener('mousedown', function(event) {
                x = event.clientX;
                y = event.clientY;
                setMark(x, y, x, y);
                sendMessage({
                    mark: "set",
                    x1: x - document.body.clientWidth / 2,
                    y1: y - document.body.clientHeight / 2,
                    x2: x - document.body.clientWidth / 2,
                    y2: y - document.body.clientHeight / 2,
                    width: document.body.clientWidth,
                    height: document.body.clientHeight });
                isMouseDown = true;
            }, false);
            document.addEventListener('mousemove', function(event) {
                if (isMouseDown) {
                    setMark(x, y, event.clientX, event.clientY);
                    sendMessage({
                        mark: "set",
                        x1: x - document.body.clientWidth / 2,
                        y1: y - document.body.clientHeight / 2,
                        x2: event.clientX - document.body.clientWidth / 2,
                        y2: event.clientY - document.body.clientHeight / 2,
                        width: document.body.clientWidth,
                        height: document.body.clientHeight });
                }
            }, false);
            document.addEventListener('mouseup', function(event) {
                clearMark();
                isMouseDown = false;
                sendMessage({ mark: "clear" });
            }, false);

            connect("socket", function() {});
        } else {
            connect("socket", function(message) {
                var msg = JSON.parse(message.data);

                if (msg.dir) {
                    if (msg.dir == "left")
                        Reveal.left();
                    else
                        Reveal.right();
                }
                if (msg.mark) {
                    if (msg.mark == "clear")
                        clearMark();
                    else if (msg.mark == "set")
                        setMark(
                            msg.x1 + document.body.clientWidth / 2,
                            msg.y1 + document.body.clientHeight / 2,
                            msg.x2 + document.body.clientWidth / 2,
                            msg.y2 + document.body.clientHeight / 2);
                }
            });
        }

        hljs.initHighlightingOnLoad();
    </script>
}
